* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 1em auto 0;
    width: 550px;
}

header {
    background-image: url(img/headerbg.png);
    height: 208px;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 0.875rem;
}

h3 {
    font-size: 18px;
}

#search-section{
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}

button, input {
    height: 38px;
    border: 1px solid #DFDDDD;
}

button {
    width: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

input {
    width: 342px;
    padding-left: .5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#empty-list {
    display: flex;
    width: 20%;
    margin: 30% auto;
    gap: .7em;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.single-movie{
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
    margin: 1em 0;
    border-bottom: 1px solid #DFDDDD;
}

#empty-list > h2 {
    color: #DFDDDD;
}

#poster {
    width: 190px;
    height: 280px;
}

.film-head, .film-body {
    display: flex;
    gap: 1em;
}

.rating-section, .watchlist-section {
    display: flex;
}

.rating-section {
    gap: .5em;
}

.film-body {
    padding: 2.5em 0 2.5em;
    justify-content: space-between;
    font-size: .9rem;
}

#watchlist-btn, #add-film {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#plot {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.empty-watchlist {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 10em;
    font-size: 1.125rem;
    color: gray;
}

.add-movie {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    gap: .5em;
}


